<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Using CSS to style an HTML Form</h3>

<div>
  
    {% for w in word %}
      <label for="word">{{ w.wrd }}</label>
    {% endfor %}
      <input type="text" id="word" autofocus="autofocus" placeholder="Write the word">
    {% if current_page.has_next %}
      <a href="?page={{ current_page.next_page_number }}"><input type="submit" id="submit" value="Submit"></a>
    {% else %}
      <a href="{% url 'weeks' %}"><input type="submit" id="submit" value="Submit"></a>
    {% endif %}
</div>


<script>
  var input = document.getElementById("word");
  input.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById("submit").click();
    }
  });
  </script>
</body>
</html>
